.Ending
{
    height: 100vh;
    padding: 1rem;

    background: #eee;
    .Ending-card
    {
        width: 480px;
        max-width: 480px;
        margin: auto;
        padding: 1rem;

        background: white;
    }
}
